@page "/button"

<style>
    .fab-demo {
        margin: 8px;
    }

    .extended-icon {
        margin-right: 8px;
    }
</style>

<Button Color="@Color.Primary">Default</Button>

<Button Variant="@ButtonVariant.Contained" Color="@Color.Primary">
    Primary
</Button>

<Button Variant="@ButtonVariant.Contained" Color="@Color.Secondary" OnClick="OnClick">
    Secondary
</Button>

<Button Variant="@ButtonVariant.Contained" Disabled="true">
    Disabled
</Button>

<Button Variant="@ButtonVariant.Contained" Color="@Color.Primary" OnClick="OnClick">
    <AddIcon />
</Button>

<IconButton Color="@Color.Primary">
    <AddShoppingCartIcon />
</IconButton>

<div>
    <Fab Color="@Color.Primary" aria-label="add" Class="fab-demo">
        <AddIcon />
    </Fab>
    <Fab Color="@Color.Secondary" aria-label="edit" Class="fab-demo">
        <EditIcon />
    </Fab>
    <Fab Variant="@FabVariant.Extended" aria-label="delete" Class="fab-demo">
        <NavigationIcon Class="extended-icon" />
        Extended
    </Fab>
    <Fab Disabled="true" aria-label="delete" Class="fab-demo">
        <DeleteIcon />
    </Fab>
</div>

@functions {

void OnClick(EventArgs args)
{
Console.WriteLine($"OnClick: {args}");
}
}