@page "/card"

<Grid Item ExtraSmall="@GridSize.Twelve">
    <Grid Container Spacing="@Spacing.Three">
        <Grid Item ExtraSmall="@GridSize.Six">
            <div style="margin: auto;
            display: flex;
            outline: 0;
            padding: 20px;
            border-radius: 4px;
            justify-content: center;
            background-color: #f5f5f5;">
                <Card Style="min-width: 275px;">
                    <CardContent>
                        <Typography Style="font-size: 14px;" Color="@Color.TextSecondary" GutterBottom>
                            Word of the Day
                        </Typography>
                        <Typography Variant="@TypographyVariant.H5" Component="h2">
                            be
                            @Bull
                            nev
                            @(Bull)o@(Bull)
                            lent
                        </Typography>
                        <Typography Style="margin-bottom: 12px;" Color="@Color.TextSecondary">
                            adjective
                        </Typography>
                        <Typography Variant="@TypographyVariant.Body2" Component="p">
                            well meaning and kindly.
                            <br />
                            "a benevolent smile"
                        </Typography>
                    </CardContent>
                    <CardActions>
                        <Button Size="@Size.Small">Learn More</Button>
                    </CardActions>
                </Card>
            </div>
        </Grid>
        <Grid Item ExtraSmall="@GridSize.Six">
            <div style="margin: auto;
            display: flex;
            outline: 0;
            padding: 20px;
            border-radius: 4px;
            justify-content: center;
            background-color: #f5f5f5;">
                <Card Style="max-width: 345px;">
                    <CardHeader Title="Shrimp and Chorizo Paella"
                                Subheader="September 14, 2016">
                        <AvatarContent>
                            <Avatar aria-label="recipe" Style="background-color: #f44336;">
                                R
                            </Avatar>
                        </AvatarContent>
                        <ActionContent>
                            <IconButton aria-label="settings">
                                <MoreVertIcon />
                            </IconButton>
                        </ActionContent>
                    </CardHeader>
                    <CardMedia Style="height: 0; padding-top: 56.25%;"
                               Image="./images/paella.jpg" />
                    <CardContent>
                        <Typography Variant="@TypographyVariant.Body2" Color="@Color.TextSecondary" Component="p">
                            This impressive paella is a perfect party dish and a fun meal to cook together with your
                            guests. Add 1 cup of frozen peas along with the mussels, if you like.
                        </Typography>
                    </CardContent>
                    <CardActions>
                        <IconButton aria-label="add to favorites">
                            <FavoriteIcon />
                        </IconButton>
                        <IconButton aria-label="share">
                            <ShareIcon />
                        </IconButton>
                    </CardActions>
                </Card>
            </div>
        </Grid>
        <Grid Item ExtraSmall="@GridSize.Six">
            <div style="margin: auto;
            display: flex;
            outline: 0;
            padding: 20px;
            border-radius: 4px;
            justify-content: center;
            background-color: #f5f5f5;">
                <Card Style="max-width: 345px;">
                    <CardActionArea>
                        <CardMedia Component="img"
                                   Alt="Contemplative Reptile"
                                   Height="140"
                                   Image="./images/contemplative-reptile.jpg"
                                   Title="Contemplative Reptile" />
                        <CardContent>
                            <Typography GutterBottom Variant="@TypographyVariant.H5" Component="h2">
                                Lizard
                            </Typography>
                            <Typography Variant="@TypographyVariant.Body2" Color="@Color.TextSecondary" Component="p">
                                Lizards are a widespread group of squamate reptiles, with over 6,000 species, ranging
                                across all continents except Antarctica
                            </Typography>
                        </CardContent>
                    </CardActionArea>
                    <CardActions>
                        <Button Size="@Size.Small" Color="@Color.Primary">Share</Button>
                        <Button Size="@Size.Small" Color="@Color.Primary">Learn More</Button>
                    </CardActions>
                </Card>
            </div>
        </Grid>
        <Grid Item ExtraSmall="@GridSize.Six">
            <div style="margin: auto;
            display: flex;
            outline: 0;
            padding: 20px;
            border-radius: 4px;
            justify-content: center;
            background-color: #f5f5f5;">
                <Card Style="display: flex;">
                    <div style="display: flex; flex-direction: column;">
                        <CardContent Style="flex: 1 0 auto;">
                            <Typography Variant="@TypographyVariant.H5" Component="h5">
                                Live From Space
                            </Typography>
                            <Typography Variant="@TypographyVariant.Subtitle1" Color="@Color.TextSecondary">
                                Mac Miller
                            </Typography>
                        </CardContent>
                        <div style="display: flex; align-items: center; padding-left: 8px; padding-bottom: 8px;">
                            <IconButton aria-label="previous">
                                <SkipPreviousIcon />
                            </IconButton>
                            <IconButton aria-label="play/pause">
                                <PlayArrowIcon Style="width: 38px; height: 38px;" />
                            </IconButton>
                            <IconButton aria-label="next">
                                <SkipNextIcon />
                            </IconButton>
                        </div>
                    </div>
                    <CardMedia Style="width: 151px"
                               Image="./images/live-from-space.jpg"
                               Title="Live from space album cover" />
                </Card>
            </div>
        </Grid>
    </Grid>
</Grid>

@code {

    private RenderFragment Bull =@<span style="display: inline-block; margin: 0 2px; transform: scale(0.8)">•</span>;
}