@page "/grid"

<style>
    .paper-demo {
        color: rgba(0, 0, 0, 0.54);
        padding: 16px;
        text-align: center;
    }

    .paper-complex {
        margin: auto;
        padding: 16px;
        max-width: 500px;
    }

    .image-complex {
        width: 128px;
        height: 128px;
    }

    .img-complex {
        margin: auto;
        display: block;
        max-width: 100%;
        max-height: 100%;
    }
</style>

<div
    style="margin: auto; display: flex; outline: 0; padding: 20px; border-radius: 4px; justify-content: center; background-color: #f5f5f5;">
    <Grid Container Spacing="@Spacing.Two">
        <Grid Item ExtraSmall="@GridSize.Twelve">
            <Grid Container Justify="@Justify.Center" Spacing="@Spacing.Two">
                @foreach(var index in Enumerable.Range(0, 3))
                {
                <Grid @key="index" Item>
                    <Paper Style="height: 140px; width: 100px;" />
                </Grid>
                }
            </Grid>
        </Grid>

        <Grid Item ExtraSmall="@GridSize.Twelve">
            <Grid Container Spacing="@Spacing.Three">
                <Grid Item ExtraSmall="@GridSize.Twelve">
                    <Paper Class="paper-demo">xs=12</Paper>
                </Grid>
                <Grid Item ExtraSmall="@GridSize.Six">
                    <Paper Class="paper-demo">xs=6</Paper>
                </Grid>
                <Grid Item ExtraSmall="@GridSize.Six">
                    <Paper Class="paper-demo">xs=6</Paper>
                </Grid>
                <Grid Item ExtraSmall="@GridSize.Three">
                    <Paper Class="paper-demo">xs=3</Paper>
                </Grid>
                <Grid Item ExtraSmall="@GridSize.Three">
                    <Paper Class="paper-demo">xs=3</Paper>
                </Grid>
                <Grid Item ExtraSmall="@GridSize.Three">
                    <Paper Class="paper-demo">xs=3</Paper>
                </Grid>
                <Grid Item ExtraSmall="@GridSize.Three">
                    <Paper Class="paper-demo">xs=3</Paper>
                </Grid>
            </Grid>
        </Grid>

        <Grid Item ExtraSmall="@GridSize.Twelve">
            <Grid Container Spacing="@Spacing.Three">
                <Grid Item ExtraSmall="@GridSize.Twelve">
                    <Paper Class="paper-demo">xs=12</Paper>
                </Grid>
                <Grid Item ExtraSmall="@GridSize.Twelve" Small="@GridSize.Six">
                    <Paper Class="paper-demo">xs=12 sm=6</Paper>
                </Grid>
                <Grid Item ExtraSmall="@GridSize.Twelve" Small="@GridSize.Six">
                    <Paper Class="paper-demo">xs=12 sm=6</Paper>
                </Grid>
                <Grid Item ExtraSmall="@GridSize.Six" Small="@GridSize.Three">
                    <Paper Class="paper-demo">xs=6 sm=3</Paper>
                </Grid>
                <Grid Item ExtraSmall="@GridSize.Six" Small="@GridSize.Three">
                    <Paper Class="paper-demo">xs=6 sm=3</Paper>
                </Grid>
                <Grid Item ExtraSmall="@GridSize.Six" Small="@GridSize.Three">
                    <Paper Class="paper-demo">xs=6 sm=3</Paper>
                </Grid>
                <Grid Item ExtraSmall="@GridSize.Six" Small="@GridSize.Three">
                    <Paper Class="paper-demo">xs=6 sm=3</Paper>
                </Grid>
            </Grid>
        </Grid>

        <Grid Item ExtraSmall="@GridSize.Twelve">
            <Grid Container Spacing="@Spacing.Three">
                <Grid Item ExtraSmall="@GridSize.True">
                    <Paper Class="paper-demo">xs</Paper>
                </Grid>
                <Grid Item ExtraSmall="@GridSize.True">
                    <Paper Class="paper-demo">xs</Paper>
                </Grid>
                <Grid Item ExtraSmall="@GridSize.True">
                    <Paper Class="paper-demo">xs</Paper>
                </Grid>
            </Grid>
            <Grid Container Spacing="@Spacing.Three">
                <Grid Item ExtraSmall="@GridSize.True">
                    <Paper Class="paper-demo">xs</Paper>
                </Grid>
                <Grid Item ExtraSmall="@GridSize.Six">
                    <Paper Class="paper-demo">xs=6</Paper>
                </Grid>
                <Grid Item ExtraSmall="@GridSize.True">
                    <Paper Class="paper-demo">xs</Paper>
                </Grid>
            </Grid>
        </Grid>

        <Grid Item ExtraSmall="@GridSize.Twelve">
            <Paper Class="paper-complex">
                <Grid Container Spacing="@Spacing.Two">
                    <Grid Item>
                        <ButtonBase Class="image-complex">
                            <img class="img-complex" alt="complex" src="./images/complex.jpg" />
                        </ButtonBase>
                    </Grid>
                    <Grid Item Container ExtraSmall="@GridSize.Twelve" Small="@GridSize.True">
                        <Grid Item Container ExtraSmall="@GridSize.True" Direction="@Direction.Column"
                            Spacing="@Spacing.Two">
                            <Grid Item ExtraSmall="@GridSize.True">
                                <Typography GutterBottom Variant="@TypographyVariant.Subtitle1">
                                    Standard license
                                </Typography>
                                <Typography Variant="@TypographyVariant.Body2" GutterBottom>
                                    Full resolution 1920x1080 • JPEG
                                </Typography>
                                <Typography Variant="@TypographyVariant.Body2" Color="@Color.TextSecondary">
                                    ID: 1030114
                                </Typography>
                            </Grid>
                            <Grid Item>
                                <Typography Variant="@TypographyVariant.Body2" Style="cursor: pointer;">
                                    Remove
                                </Typography>
                            </Grid>
                        </Grid>
                        <Grid Item>
                            <Typography Variant="@TypographyVariant.Subtitle1">$19.00</Typography>
                        </Grid>
                    </Grid>
                </Grid>
            </Paper>
        </Grid>
    </Grid>
</div>