@page "/modal"

@inherits MaterialComponentBase

<Modal Open="@Open" OnBackdropClick="@OnBackdropClick" OnEscapeKeyDown="@OnEscapeKeyDown">
    <BackdropContent>
        <Backdrop Open="@context.Open" OnClick="@context.OnBackdropClick"/>
    </BackdropContent>
    <ChildContent>
        <Slide Placement="@Placement.Top"
            In="@context.Open"
            OnEnter="@context.OnEnter"
            OnExited="@context.OnExited"
            Appear="@Mounted"
            MountOnEnter
            UnmountOnExit
            Context="SlideContext">
            <div @ref="SlideContext.RefBack.Current" style="@(CssUtil.ToStyle(SlideContext.Styles))">
                <Paper Elevation="4" Class="paper">
                    <svg class="svg">
                        <polygon points="0,100 50,00, 100,100" class="polygon" />
                    </svg>
                </Paper>
            </div>
        </Slide>
    </ChildContent>
</Modal>

@code
{
    private bool Open { set; get; }

    private void OnBackdropClick()
    {
        Open = false;

        StateHasChanged();
    }

    private void OnEscapeKeyDown()
    {
        Open = false;

        StateHasChanged();
    }

    protected override Task OnAfterMountAsync()
    {
        Open = true;

        StateHasChanged();

        return Task.CompletedTask;
    }
}

