@namespace Skclusive.Material.Docs.App.View
@inherits MaterialComponentBase

<div
    style="margin-top: 20px;">
    <Divider />
    <Box
        Padding="4">
        <Typography
            Variant="@TypographyVariant.H4"
            Component="h2"
            Align="@Align.Center"
            GutterBottom>
            Sponsors & Backers
        </Typography>
        <Typography
            Variant="@TypographyVariant.Body1"
            Align="@Align.Center"
            GutterBottom>
            Skclusive-UI is not managed by a company or anything like that.
        </Typography>
        <Typography
            Variant="@TypographyVariant.Body1"
            Align="@Align.Center"
            GutterBottom>
            It is an independent project created in spare time.
        </Typography>
        <Typography
            Variant="@TypographyVariant.Body1"
            Align="@Align.Center"
            GutterBottom>
            The development is active and working hard to release great things for you.
        </Typography>
        <Typography
            Variant="@TypographyVariant.Body1"
            Align="@Align.Center"
            GutterBottom>
            If you think that this project helped you or your company in any way, you can consider becoming a backer/sponsor at
            <Link
                Variant="@LinkVariant.Body1"
                Color="@Color.Secondary"
                Href="https://www.patreon.com/skclusive"
                Align="@Align.Center"
                GutterBottom>
                Patreon
            </Link>
        </Typography>
    </Box>
    <Divider />
    <Box
        Padding="4">
        <Typography
            Variant="@TypographyVariant.H6"
            Component="h2"
            Align="@Align.Center"
            GutterBottom>
            Sponsors:
        </Typography>
        <Typography
            Variant="@TypographyVariant.Body1"
            Align="@Align.Center"
            GutterBottom>
            Patreon: bookazoid
        </Typography>
    </Box>
</div>

