@namespace Skclusive.Material.Docs.App.View
@inherits MaterialComponentBase

<div
    style="margin-top: 30px;">
    <Divider />
    <Box
        Padding="4">
        <Typography
            Variant="@TypographyVariant.H4"
            Component="h2"
            Align="@Align.Center"
            GutterBottom>
            Credits
        </Typography>
        <Typography
            Variant="@TypographyVariant.Body1"
            Align="@Align.Center"
            GutterBottom>
            This is an attempt to port popular react based
            <Link
                Variant="@LinkVariant.Body1"
                Color="@Color.Secondary"
                Href="https://github.com/mui-org/material-ui"
                GutterBottom>
                Material-UI
            </Link>
            implementation to Blazor.
        </Typography>
    </Box>
</div>


