@namespace Skclusive.Material.Docs
@inherits MaterialComponentBase

<Markdown
    Class="@_Class"
    Style="@_Style"
    Text="@(@"
```html
<div>
    <Button
        OnClick=""@OnOpen""
        RootRef=""@ButtonRef"">
        Open Menu
    </Button>
    <Menu
        Id=""simple-menu""
        Open=""@Open""
        AnchorRef=""@ButtonRef""
        OnClose=""@HandleClose"">
        <MenuItem
            OnClick=""@HandleClose"">
            Profile
        </MenuItem>
        <MenuItem
            OnClick=""@HandleClose"">
            My account
        </MenuItem>
        <MenuItem
            OnClick=""@HandleClose"">
            Logout
        </MenuItem>
    </Menu>
</div>
```

```csharp
@code
{
    private bool Open { set; get; }

    private IReference ButtonRef { set; get; } = new Reference();

    private void HandleClose(EventArgs args)
    {
        Open = false;

        StateHasChanged();
    }

    private void HandleClose(MenuCloseReason reason)
    {
        Open = false;

        StateHasChanged();
    }

    private void OnOpen()
    {
        Open = true;

        StateHasChanged();
    }
}
```
")" />