@namespace Skclusive.Material.Docs.App.View

<Card
    Style="max-width: 345px;">
    <CardActionArea>
        <CardMedia
            Component="img"
            Alt="Contemplative Reptile"
            Height="140"
            Image="./_content/Skclusive.Material.Docs.App.View/images/contemplative-reptile.jpg"
            Title="Contemplative Reptile" />
        <CardContent>
            <Typography
                GutterBottom
                Variant="@TypographyVariant.H5"
                Component="h2">
                Lizard
            </Typography>
            <Typography
                Variant="@TypographyVariant.Body2"
                Color="@Color.TextSecondary"
                Component="p">
                Lizards are a widespread group of squamate reptiles, with over 6,000 species, ranging
                across all continents except Antarctica
            </Typography>
        </CardContent>
    </CardActionArea>
    <CardActions>
        <Button
            Size="@Size.Small"
            Color="@Color.Primary">
            Share
        </Button>
        <Button
            Size="@Size.Small"
            Color="@Color.Primary">
            Learn More
        </Button>
    </CardActions>
</Card>