@namespace Skclusive.Material.Docs.App.View
@inherits MaterialComponentBase

<Markdown
    Class="@_Class"
    Style="@_Style"
    Text="@(@"
```css
<style>
    .demo-hidden-root {
        flex-grow: 1;
    }

    .demo-hidden-container {
        display: flex;
    }

    .demo-hidden-paper {
        flex: 1 0 auto;
        color: var(--theme-palette-text-secondary, rgba(0, 0, 0, 0.54));
        margin: 8px;
        padding: 16px;
        text-align: center;
    }
</style>
```

```html
<div
    class=""demo-hidden-root"">
    <div
        class=""demo-hidden-container"">
        <Hidden
            ExtraSmallDown>
            <Paper
                Class=""@(context.Class + "" demo-hidden-paper"")"">
                ExtraSmallDown
            </Paper>
        </Hidden>
        <Hidden
            SmallDown>
            <Paper
                Class=""@(context.Class + "" demo-hidden-paper"")"">
                SmallDown
            </Paper>
        </Hidden>
        <Hidden
            MediumDown>
            <Paper
                Class=""@(context.Class + "" demo-hidden-paper"")"">
                MediumDown
            </Paper>
        </Hidden>
        <Hidden
            LargeDown>
            <Paper
                Class=""@(context.Class + "" demo-hidden-paper"")"">
                LargeDown
            </Paper>
        </Hidden>
        <Hidden
            ExtraLargeDown>
            <Paper
                Class=""@(context.Class + "" demo-hidden-paper"")"">
                ExtraLargeDown
            </Paper>
        </Hidden>
    </div>
</div>
```
")" />