@namespace Skclusive.Material.Docs.App.View
@inherits MaterialComponentBase

<MarkdownCode
    Class="@_Class"
    Style="@_Style"
    Text="@(@"
```html
<div
    class=""alert-container"">
    <Alert
        Severity=""@Severity.Success""
        Color=""@Color.Info"">
        This is a success alert — check it out!
    </Alert>
</div>
```
")" />