<div class="root">
    <FormControlLabel Label="Fade">
        <Switch Checked="@FadeInProp" OnChange="@ToggleFade" />
    </FormControlLabel>
    <div class="container">
        <Fade In="@FadeInProp">
            <Paper RootRef="@context.RefBack" Style="@(CssUtil.ToStyle(context.Styles))" Elevation="4" Class="paper">
                <svg class="svg">
                    <polygon points="0,100 50,00, 100,100" class="polygon" />
                </svg>
            </Paper>
        </Fade>
    </div>
</div>

@code
{
    private bool FadeInProp { set; get; } = false;

    private void ToggleFade(EventArgs args)
    {
        FadeInProp = !FadeInProp;

        Console.WriteLine($"Clicked..FadeInProp: {FadeInProp}");

        StateHasChanged();
    }
}