@namespace Skclusive.Material.Docs
@inherits MaterialComponentBase

<style>
    .responsive-content {
        padding: 24px;
        flex-grow: 1;
    }
    @media (min-width:600px) {
        .responsive-content {
            margin-left: 240px;
        }
    }

    @media (min-width:600px) {
        .responsive-appbar {
            margin-left: 240px;
        }
    }

    .responsive-menu-button {
        margin-right: 16px;
    }
    @media (min-width:600px) {
        .responsive-menu-button {
            display: none;
        }
    }

    .responsive-toolbar {
        min-height: 56px;
    }
    @media (min-width:0px) and (orientation: landscape) {
        .responsive-toolbar {
            min-height: 48px;
        }
    }
    @media (min-width:600px) {
        .responsive-toolbar {
            min-height: 64px;
        }
    }

</style>

<DrawerFrame
    RootRef="@ContainerRef">
    <AppBar
        Position="@AppBarPosition.Sticky"
        Class="responsive-appbar">
        <Toolbar>
            <IconButton
                Color="@Color.Inherit"
                aria-label="open drawer"
                Edge="@IconButtonEdge.Start"
                OnClick="@HandleDrawerToggle"
                Class="responsive-menu-button">
                <MenuIcon />
            </IconButton>
            <Typography
                Variant="@TypographyVariant.H6"
                NoWrap>
                Responsive drawer
            </Typography>
        </Toolbar>
    </AppBar>
    <Hidden
        SmallUp>
        <Drawer
            Absolute
            KeepMounted
            Class="@context.Class"
            PaperStyle="width: 240px;"
            ContainerRef="@ContainerRef"
            Variant="@DrawerVariant.Temporary"
            Anchor="@Anchor.Left"
            Open="@Open"
            OnClose="@HandleDrawerToggle">
            <DrawerList
                Side>
                <div
                    class="responsive-toolbar" />
                <Divider />
            </DrawerList>
        </Drawer>
    </Hidden>
    <Hidden
        ExtraSmallDown>
        <Drawer
            Absolute
            Class="@context.Class"
            Style="height: 100%;"
            PaperStyle="width: 240px;"
            Variant="@DrawerVariant.Permanent"
            Open="true">
            <DrawerList
                Side>
                <div
                    class="responsive-toolbar" />
                <Divider />
            </DrawerList>
        </Drawer>
    </Hidden>
    <main
        class="responsive-content">
        <Typography
            Paragraph>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Rhoncus dolor purus non enim praesent elementum
            facilisis leo vel. Risus at ultrices mi tempus imperdiet. Semper risus in hendrerit
            gravida rutrum quisque non tellus. Convallis convallis tellus id interdum velit laoreet id
            donec ultrices. Odio morbi quis commodo odio aenean sed adipiscing. Amet nisl suscipit
            adipiscing bibendum est ultricies integer quis. Cursus euismod quis viverra nibh cras.
            Metus vulputate eu scelerisque felis imperdiet proin fermentum leo. Mauris commodo quis
            imperdiet massa tincidunt. Cras tincidunt lobortis feugiat vivamus at augue. At augue eget
            arcu dictum varius duis at consectetur lorem. Velit sed ullamcorper morbi tincidunt. Lorem
            donec massa sapien faucibus et molestie ac.
        </Typography>
        <Typography
            Paragraph>
            Consequat mauris nunc congue nisi vitae suscipit. Fringilla est ullamcorper eget nulla
            facilisi etiam dignissim diam. Pulvinar elementum integer enim neque volutpat ac
            tincidunt. Ornare suspendisse sed nisi lacus sed viverra tellus. Purus sit amet volutpat
            consequat mauris. Elementum eu facilisis sed odio morbi. Euismod lacinia at quis risus sed
            vulputate odio. Morbi tincidunt ornare massa eget egestas purus viverra accumsan in. In
            hendrerit gravida rutrum quisque non tellus orci ac. Pellentesque nec nam aliquam sem et
            tortor. Habitant morbi tristique senectus et. Adipiscing elit duis tristique sollicitudin
            nibh sit. Ornare aenean euismod elementum nisi quis eleifend. Commodo viverra maecenas
            accumsan lacus vel facilisis. Nulla posuere sollicitudin aliquam ultrices sagittis orci a.
        </Typography>
    </main>
</DrawerFrame>

@code
{
    private IReference ContainerRef { set; get; } = new Reference("ContainerRef");

    private bool Open { set; get; }

    private void HandleDrawerToggle()
    {
        Open =  !Open;

        StateHasChanged();
    }
}