@namespace Skclusive.Material.Docs
@inherits MaterialComponentBase

<Markdown
    Class="@_Class"
    Style="@_Style"
    Text="@(@"
```html
<div>
    <Typography
        RootRef=""@AnchorRef""
        aria-owns=""@(Open ? ""mouse-over-popover"" : null)""
        aria-haspopup=""true""
        OnMouseEnter=""HandleOpenAsync""
        OnMouseLeave=""HandleCloseAsync"">
        Hover with a Popover.
      </Typography>
    <Popover
        Open=""@Open""
        AnchorRef=""@AnchorRef""
        AnchorVerticalOrigin=""@VerticalOrigin.Bottom""
        AnchorHorizontalOrigin=""@HorizontalOrigin.Left""
        TransformVerticalOrigin=""@VerticalOrigin.Top""
        TransformHorizontalOrigin=""@HorizontalOrigin.Left"">
        <Typography>
            I use Popover.
        </Typography>
    </Popover>
</div>
```

```csharp
@code
{
    private bool Open { set; get; }

    private IReference AnchorRef { set; get; } = new Reference();

    private async Task HandleCloseAsync()
    {
        Open = false;

        await InvokeAsync(StateHasChanged);
    }

    private async Task HandleOpenAsync()
    {
        Open = true;

        await InvokeAsync(StateHasChanged);
    }
}
```
")" />