@namespace Skclusive.Material.Docs.App.View
@inherits MaterialComponentBase

<Markdown
    Class="@_Class"
    Style="@_Style"
    Text="@(@"
```html
<div>
    <Button
        Variant=""@ButtonVariant.Contained""
        OnClick=""@HandleOpen""
        RootRef=""@AnchorRef"">
        Open Popover
    </Button>
    <Popover
        Open=""@Open""
        AnchorRef=""@AnchorRef""
        OnClose=""@HandleClose""
        AnchorVerticalOrigin=""@VerticalOrigin.Bottom""
        AnchorHorizontalOrigin=""@HorizontalOrigin.Center""
        TransformVerticalOrigin=""@VerticalOrigin.Top""
        TransformHorizontalOrigin=""@HorizontalOrigin.Center"">
        <Typography
            Style=""padding: 16px;"">
            The content of the Popover.
        </Typography>
    </Popover>
</div>
```

```csharp
@code
{
    private bool Open { set; get; }

    private IReference AnchorRef { set; get; } = new Reference();

    private void HandleClose()
    {
        Open = false;

        StateHasChanged();
    }

    private void HandleOpen()
    {
        Open = true;

        StateHasChanged();
    }
}
```
")" />