@namespace Skclusive.Material.Docs.App.View
@inherits MaterialComponentBase

<MarkdownCode
    Class="@_Class"
    Style="@_Style"
    Text="@(@"
```css
<style>
    .demo-hidden-root {
        flex-grow: 1;
    }

    .demo-hidden-grid-paper {
        color: var(--theme-palette-text-secondary, rgba(0, 0, 0, 0.54));
        text-align: center;
        padding: 16px;
    }
</style>
```

```html
<div
    class=""demo-hidden-root"">
    <Grid
        Container
        Spacing=""@Spacing.Three"">
        <Hidden
            ExtraSmallUp>
            <Grid
                Class=""@context.Class""
                Item
                ExtraSmall=""@GridSize.True"">
                <Paper
                    Class=""demo-hidden-grid-paper"">
                    ExtraSmallUp
                </Paper>
            </Grid>
        </Hidden>
        <Hidden
            SmallUp>
            <Grid
                Class=""@context.Class""
                Item
                ExtraSmall=""@GridSize.True"">
                <Paper
                    Class=""demo-hidden-grid-paper"">
                    SmallUp
                </Paper>
            </Grid>
        </Hidden>
        <Hidden
            MediumUp>
            <Grid
                Class=""@context.Class""
                Item
                ExtraSmall=""@GridSize.True"">
                <Paper
                    Class=""demo-hidden-grid-paper"">
                    MediumUp
                </Paper>
            </Grid>
        </Hidden>
        <Hidden
            LargeUp>
            <Grid
                Class=""@context.Class""
                Item
                ExtraSmall=""@GridSize.True"">
                <Paper
                    Class=""demo-hidden-grid-paper"">
                    LargeUp
                </Paper>
            </Grid>
        </Hidden>
        <Hidden
            ExtraLargeUp>
            <Grid
                Class=""@context.Class""
                Item
                ExtraSmall=""@GridSize.True"">
                <Paper
                    Class=""demo-hidden-grid-paper"">
                    ExtraLargeUp
                </Paper>
            </Grid>
        </Hidden>
    </Grid>
</div>
```
")" />