@namespace Skclusive.Material.Docs
@inherits MaterialComponentBase

<Markdown
    Class="@_Class"
    Style="@_Style"
    Text="@(@"
```html
<div>
    <FormControl
        Component=""fieldset""
        Style=""margin: 24px;"">
        <FormLabel
            Component=""legend"">
            Gender
        </FormLabel>
        <RadioGroup
            aria-label=""gender""
            Name=""gender1""
            Value=""@Value""
            OnChange=""@OnValueChanged"">
            <FormControlLabel
                Label=""Female"">
                <Radio
                    Value=""female"" />
            </FormControlLabel>
            <FormControlLabel
                Label=""Male"">
                <Radio
                    Value=""male"" />
            </FormControlLabel>
            <FormControlLabel
                Label=""Other"">
                <Radio
                    Value=""other"" />
            </FormControlLabel>
            <FormControlLabel
                Disabled=""true""
                Label=""(Disabled option)"">
                <Radio
                    Disabled=""true""
                    Value=""disabled"" />
            </FormControlLabel>
        </RadioGroup>
    </FormControl>
    <FormControl
        Component=""fieldset""
        Style=""margin: 24px;"">
        <FormLabel
            Component=""legend"">
            Gender
        </FormLabel>
        <RadioGroup
            aria-label=""gender""
            Name=""gender2""
            Value=""@Value""
            OnChange=""@OnValueChanged"">
            <FormControlLabel
                Label=""Female""
                Placement=""@Placement.Start"">
                <Radio
                    Value=""female""
                    Color=""@Color.Primary"" />
            </FormControlLabel>
            <FormControlLabel
                Label=""Male""
                Placement=""@Placement.Start"">
                <Radio
                    Value=""male""
                    Color=""@Color.Primary"" />
            </FormControlLabel>
            <FormControlLabel
                Label=""Other""
                Placement=""@Placement.Start"">
                <Radio
                    Value=""other""
                    Color=""@Color.Primary"" />
            </FormControlLabel>
            <FormControlLabel
                Disabled=""true""
                Label=""(Disabled option)""
                Placement=""@Placement.Start"">
                <Radio
                    Disabled=""true""
                    Value=""disabled"" />
            </FormControlLabel>
        </RadioGroup>
        <FormHelperText>
            labelPlacement start
        </FormHelperText>
    </FormControl>
</div>
```

```csharp
@code
{
    private string Value { set; get; } = ""female"";

    private void OnValueChanged(ChangeEventArgs args)
    {
        Value = args.Value.ToString();

        StateHasChanged();
    }
}
```
")" />