@namespace Skclusive.Material.Docs

<style>
    .paper-demo {
        padding: 16px;
        text-align: center;
    }
</style>

<div
    style="flex-grow: 1;">
    <Grid
        Container
        Spacing="@Spacing.Three">
        <Grid
            Item
            ExtraSmall="@GridSize.True">
            <Paper
                Class="paper-demo">
                xs
            </Paper>
        </Grid>
        <Grid
            Item
            ExtraSmall="@GridSize.True">
            <Paper
                Class="paper-demo">
                xs
            </Paper>
        </Grid>
        <Grid
            Item
            ExtraSmall="@GridSize.True">
            <Paper
                Class="paper-demo">
                xs
            </Paper>
        </Grid>
    </Grid>
    <Grid
        Container
        Spacing="@Spacing.Three">
        <Grid
            Item
            ExtraSmall="@GridSize.True">
            <Paper
                Class="paper-demo">
                xs
            </Paper>
        </Grid>
        <Grid
            Item
            ExtraSmall="@GridSize.Six">
            <Paper
                Class="paper-demo">
                xs=6
            </Paper>
        </Grid>
        <Grid
            Item
            ExtraSmall="@GridSize.True">
            <Paper
                Class="paper-demo">
                xs
            </Paper>
        </Grid>
    </Grid>
</div>