@namespace Skclusive.Material.Docs.App.View

<style>
    .badge-margin {
        margin: calc(var(--theme-spacing) * 2px);
    }
</style>

<div
    style="display: flex;">
    <div
        class="badge-margin">
        <Badge
            Color="@Color.Primary"
            Variant="@BadgeVariant.Dot">
            <MailIcon />
        </Badge>
    </div>
    <div
        class="badge-margin">
        <Badge
            Variant="@BadgeVariant.Dot"
            Color="@Color.Secondary">
            <MailIcon />
        </Badge>
    </div>
    <div
        class="badge-margin">
        <Badge
            Variant="@BadgeVariant.Dot"
            Color="@Color.Error">
            <Typography>Typography</Typography>
        </Badge>
    </div>
</div>