@namespace Skclusive.Material.Docs.App.View
@inherits MaterialComponentBase

<MarkdownCode
    Class="@_Class"
    Style="@_Style"
    Text="@(@"
```css
<style>
    .badge-margin {
        margin: calc(var(--theme-spacing) * 2px);
    }
</style>
```

```html
<div
    style=""display: flex;"">
    <div
        class=""badge-margin"">
        <Badge
            Color=""@Color.Primary""
            Variant=""@BadgeVariant.Dot"">
            <MailIcon />
        </Badge>
    </div>
    <div
        class=""badge-margin"">
        <Badge
            Variant=""@BadgeVariant.Dot""
            Color=""@Color.Secondary"">
            <MailIcon />
        </Badge>
    </div>
    <div
        class=""badge-margin"">
        <Badge
            Variant=""@BadgeVariant.Dot""
            Color=""@Color.Error"">
            <Typography>Typography</Typography>
        </Badge>
    </div>
</div>
```
")" />