@namespace Skclusive.Material.Docs.App.View
@inherits MaterialComponentBase

<Markdown
    Class="@_Class"
    Style="@_Style"
    Text="@(@"
```css
<style>
    .demo-hidden-root {
        flex-grow: 1;
    }

    .demo-hidden-container {
        display: flex;
    }

    .demo-hidden-paper {
        flex: 1 0 auto;
        color: var(--theme-palette-text-secondary, rgba(0, 0, 0, 0.54));
        margin: 8px;
        padding: 16px;
        text-align: center;
    }
</style>
```

```html
<div
    class=""demo-hidden-root"">
    <div
        class=""demo-hidden-container"">
        <Hidden
            Only=""@(new [] { Breakpoint.Large })"">
            <Paper
                Class=""@(context.Class + "" demo-hidden-paper"")"">
                Hidden on Large
            </Paper>
        </Hidden>
        <Hidden
            Only=""@(new [] { Breakpoint.Small })"">
            <Paper
                Class=""@(context.Class + "" demo-hidden-paper"")"">
                Hidden on Small
            </Paper>
        </Hidden>
        <Hidden
            Only=""@(new [] { Breakpoint.Small, Breakpoint.Large })"">
            <Paper
                Class=""@(context.Class + "" demo-hidden-paper"")"">
                Hidden on Small and Large
            </Paper>
        </Hidden>
    </div>
</div>
```
")" />