@namespace Skclusive.Material.Docs.App.View
@inherits MaterialComponentBase

<Markdown
    Class="@_Class"
    Style="@_Style"
    Text="@(@"
```css
<style>
    .paper-demo {
        padding: 16px;
        text-align: center;
    }
</style>
```

```html
<div
    style=""flex-grow: 1;"">
    <Grid
        Container
        Spacing=""@Spacing.Three"">
        <Grid
            Item
            ExtraSmall=""@GridSize.Twelve"">
            <Paper
                Class=""paper-demo"">
                xs=12
            </Paper>
        </Grid>
        <Grid
            Item
            ExtraSmall=""@GridSize.Twelve""
            Small=""@GridSize.Six"">
            <Paper
                Class=""paper-demo"">
                xs=12 sm=6
            </Paper>
        </Grid>
        <Grid
            Item
            ExtraSmall=""@GridSize.Twelve""
            Small=""@GridSize.Six"">
            <Paper
                Class=""paper-demo"">
                xs=12 sm=6
            </Paper>
        </Grid>
        <Grid
            Item
            ExtraSmall=""@GridSize.Six""
            Small=""@GridSize.Three"">
            <Paper
                Class=""paper-demo"">
                xs=6 sm=3
            </Paper>
        </Grid>
        <Grid
            Item
            ExtraSmall=""@GridSize.Six""
            Small=""@GridSize.Three"">
            <Paper
                Class=""paper-demo"">
                xs=6 sm=3
            </Paper>
        </Grid>
        <Grid
            Item
            ExtraSmall=""@GridSize.Six""
            Small=""@GridSize.Three"">
            <Paper
                Class=""paper-demo"">
                xs=6 sm=3
            </Paper>
        </Grid>
        <Grid
            Item
            ExtraSmall=""@GridSize.Six""
            Small=""@GridSize.Three"">
            <Paper
                Class=""paper-demo"">
                xs=6 sm=3
            </Paper>
        </Grid>
    </Grid>
</div>
```
")" />