@namespace Skclusive.Material.Docs
@inherits DisposableComponentBase

 <div
    style="flex-grow: 1;">
    <LinearProgress
        Variant="@LinearVariant.Determinate"
        Value="@Completed" />
    <br />
    <LinearProgress
        Color="@Color.Secondary"
        Variant="@LinearVariant.Determinate"
        Value="@Completed" />
</div>

@code
{
    public decimal Completed { set; get; } = 0;

    private static Random RANDOM = new Random();

    protected override void OnInitialized()
    {
        RunInterval(() =>
        {
            if (Completed == 100)
            {
                Completed = 0;
            }
            else
            {
                int diff = RANDOM.Next(0, 10);
                Completed = Math.Min(Completed + diff, 100);
            }
            StateHasChanged();
        }, 500);
    }
}