@namespace Skclusive.Material.Docs.App.View

<div>
    <div>
        <Button
            Size="@Size.Small"
            Style="margin: 8px;">
            Small
        </Button>
        <Button
            Size="@Size.Medium"
            Style="margin: 8px;">
            Medium
        </Button>
        <Button
            Size="@Size.Large"
            Style="margin: 8px;">
            Large
        </Button>
    </div>
    <div>
        <Button
            Variant="@ButtonVariant.Outlined"
            Size="@Size.Small"
            Color="@Color.Primary"
            Style="margin: 8px;">
            Small
        </Button>
        <Button
            Variant="@ButtonVariant.Outlined"
            Size="@Size.Medium"
            Color="@Color.Primary"
            Style="margin: 8px;">
            Medium
        </Button>
        <Button
            Variant="@ButtonVariant.Outlined"
            Size="@Size.Large"
            Color="@Color.Primary"
            Style="margin: 8px;">
            Large
        </Button>
    </div>
    <div>
        <Button
            Variant="@ButtonVariant.Contained"
            Size="@Size.Small"
            Color="@Color.Primary"
            Style="margin: 8px;">
            Small
        </Button>
        <Button
            Variant="@ButtonVariant.Contained"
            Size="@Size.Medium"
            Color="@Color.Primary"
            Style="margin: 8px;">
            Medium
        </Button>
        <Button
            Variant="@ButtonVariant.Contained"
            Size="@Size.Large"
            Color="@Color.Primary"
            Style="margin: 8px;">
            Large
        </Button>
    </div>
    <div>
        <Fab
            Size="@Size.Small"
            Color="@Color.Secondary"
            aria-label="add"
            Style="margin: 8px;">
            <AddIcon />
        </Fab>
        <Fab
            Size="@Size.Medium"
            Color="@Color.Secondary"
            aria-label="add"
            Style="margin: 8px;">
            <AddIcon />
        </Fab>
        <Fab
            Color="@Color.Secondary"
            aria-label="add"
            Style="margin: 8px;">
            <AddIcon />
        </Fab>
    </div>
    <div>
        <Fab
            Variant="@FabVariant.Extended"
            Size="@Size.Small"
            Color="@Color.Primary"
            aria-label="add"
            Style="margin: 8px;">
            <NavigationIcon
                Style="margin-right: 8px;" />
            Extended
        </Fab>
        <Fab
            Variant="@FabVariant.Extended"
            Size="@Size.Medium"
            Color="@Color.Primary"
            aria-label="add"
            Style="margin: 8px;">
            <NavigationIcon
                Style="margin-right: 8px;" />
            Extended
        </Fab>
        <Fab
            Variant="@FabVariant.Extended"
            Color="@Color.Primary"
            aria-label="add"
            Style="margin: 8px;">
            <NavigationIcon
                Style="margin-right: 8px;" />
            Extended
        </Fab>
    </div>
    <div>
        <IconButton
            aria-label="delete"
            Style="margin: 8px;"
            Size="@IconSize.Small">
            <ArrowDownwardIcon
                Style="font-size: inherit;" />
        </IconButton>
        <IconButton
            aria-label="delete"
            Style="margin: 8px;">
            <DeleteIcon
                Style="font-size: 1.25rem;" />
        </IconButton>
        <IconButton
            aria-label="delete"
            Style="margin: 8px;">
            <DeleteIcon />
        </IconButton>
        <IconButton
            aria-label="delete"
            Style="margin: 8px;">
            <DeleteIcon
                Style="font-size: 2.1875rem;" />
        </IconButton>
    </div>
</div>