@namespace Skclusive.Material.Docs.App.View
@inherits MaterialComponentBase

<MarkdownCode
    Class="@_Class"
    Style="@_Style"
    Text="@(@"
```html
<div>
    <IconButton
        aria-label=""more""
        aria-controls=""long-menu""
        aria-haspopup=""true""
        OnClick=""@OnOpen""
        RootRef=""@ButtonRef"">
        <MoreVertIcon />
    </IconButton>
    <Menu
        Id=""long-menu""
        Open=""@Open""
        AnchorRef=""@ButtonRef""
        OnClose=""@HandleClose""
        PaperStyle=""width: 200px; max-height: 216px;"">
        @foreach(var option in Options)
        {
            <MenuItem
                @key=""@option""
                Selected=""@(option == ""Pyxis"")""
                OnClick=""@HandleClose"">
                @option
            </MenuItem>
        }
    </Menu>
</div>
```

```csharp
@code
{
    private static readonly string[] Options =  {
        ""None"",
        ""Atria"",
        ""Callisto"",
        ""Dione"",
        ""Ganymede"",
        ""Hangouts Call"",
        ""Luna"",
        ""Oberon"",
        ""Phobos"",
        ""Pyxis"",
        ""Sedna"",
        ""Titania"",
        ""Triton"",
        ""Umbriel""
    };

    private bool Open { set; get; }

    private IReference ButtonRef { set; get; } = new Reference();

    private void HandleClose(EventArgs args)
    {
        Open = false;

        StateHasChanged();
    }

    private void HandleClose(MenuCloseReason reason)
    {
        Open = false;

        StateHasChanged();
    }

    private void OnOpen()
    {
        Open = true;

        StateHasChanged();
    }
}
```
")" />