@namespace Skclusive.Material.Docs

<div
    style="width: 100%; max-width: 500px;">
    <Typography
        Variant="@TypographyVariant.H1"
        Component="h2"
        GutterBottom>
        h1. Heading
    </Typography>
    <Typography
        Variant="@TypographyVariant.H2"
        GutterBottom>
        h2. Heading
    </Typography>
    <Typography
        Variant="@TypographyVariant.H3"
        GutterBottom>
        h3. Heading
    </Typography>
    <Typography
        Variant="@TypographyVariant.H4"
        GutterBottom>
        h4. Heading
    </Typography>
    <Typography
        Variant="@TypographyVariant.H5"
        GutterBottom>
        h5. Heading
    </Typography>
    <Typography
        Variant="@TypographyVariant.H6"
        GutterBottom>
        h6. Heading
    </Typography>
    <Typography
        Variant="@TypographyVariant.Subtitle1"
        GutterBottom>
        subtitle1. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos blanditiis tenetur
    </Typography>
    <Typography
        Variant="@TypographyVariant.Subtitle2"
        GutterBottom>
        subtitle2. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos blanditiis tenetur
    </Typography>
    <Typography
        Variant="@TypographyVariant.Body1"
        GutterBottom>
        body1. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos blanditiis tenetur
        unde suscipit, quam beatae rerum inventore consectetur, neque doloribus, cupiditate numquam
        dignissimos laborum fugiat deleniti? Eum quasi quidem quibusdam.
    </Typography>
    <Typography
        Variant="@TypographyVariant.Body2"
        GutterBottom>
        body2. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos blanditiis tenetur
        unde suscipit, quam beatae rerum inventore consectetur, neque doloribus, cupiditate numquam
        dignissimos laborum fugiat deleniti? Eum quasi quidem quibusdam.
    </Typography>
    <Typography
        Variant="@TypographyVariant.Button"
        Display="@Display.Block"
        GutterBottom>
        button text
    </Typography>
    <Typography
        Variant="@TypographyVariant.Caption"
        Display="@Display.Block"
        GutterBottom>
        caption text
    </Typography>
    <Typography
        Variant="@TypographyVariant.Overline"
        Display="@Display.Block"
        GutterBottom>
        overline text
    </Typography>
</div>