@namespace Skclusive.Material.Docs.App.View
@inherits MaterialComponentBase

<MarkdownCode
    Class="@_Class"
    Style="@_Style"
    Text="@(@"
```css
<style>
    .badge-margin {
        margin: calc(var(--theme-spacing) * 2px);
    }
</style>
```

```html
<div
    style=""display: flex;"">
    <div
        class=""badge-margin"">
        <Badge
            Badge=""99""
            Color=""@Color.Primary"">
            <MailIcon />
        </Badge>
    </div>
    <div
        class=""badge-margin"">
        <Badge
            Badge=""100""
            Color=""@Color.Primary"">
            <MailIcon />
        </Badge>
    </div>
    <div
        class=""badge-margin"">
        <Badge
            Badge=""1000""
            Max=""999""
            Color=""@Color.Primary"">
            <MailIcon />
        </Badge>
    </div>
</div>
```
")" />